* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  font-family: Sans-Serif;
  text-align: left;
  max-width: 640px;
  margin: auto;
  width: 90vw;
}

body > * {
  text-align: justify;
  padding: 1em;
}

body > :not(:first-child) {
  border-top: 1px solid black;
}

header {
  background-image: url("img/freeotp.svg");
  background-position: 0 0.5em;
  background-repeat: no-repeat;
  background-size: 6em 6em;
  display: inline-block;
  white-space: nowrap;
  padding-left: 6.5em;
  font-size: 3.25vw;
  margin: 0.5em auto 0.5em auto;
}

header > h1 {
  font-size: 3em;
  color: black;
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}

footer {
  font-size: 0.9em;
}

@media screen and (min-width: 480px) {
  header {
    font-size: 1em;
  }
}